:root{
   --primary-color: rgba(42, 44, 57, 0.9);
   --foreign-color: #e9ac06;
}
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
   
}
html {
   scroll-behavior: smooth;
   overflow-x:hidden;
}
/* Thanh scroll web */
::-webkit-scrollbar {
   width: 12px;
   
}
::-webkit-scrollbar-thumb {
   background: linear-gradient(rgb(255, 255, 253),var(--primary-color));
   border-radius: 6px;
}

/* Dùng chung  */
.lora-font{
   font-family: 'Lora';
}

 /* Loading  */
#loading{
   position: fixed;
   width: 100%;
   height: 100vh;
   z-index: 99999;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #fff;
}

/* ----- HEADER  */
.header__introduce {
   height: 84px;
}
.header__introduce-wrap img {
   zoom: 1.2;
}

.header__introduce-time i, 
.header__introduce-call i {
   color: #01B3AF;
}

.header__introduce-time p,
.header__introduce-call a {
   color: #56567C;
   text-decoration: none;
}

.header__introduce-call a:hover {
   color: #5FC3BC;
}
.header__navbar {
   background-color: var(--primary-color);
   /* border-top: 6px solid #FED152; */
   width: 100%;
   border-top: 2px solid var(--foreign-color);
}

.wrap-header {
   max-width: 100%;
   width: 1200px;
}
.navbar .nav-item .nav-link{
   text-transform: uppercase;
   height:40px;
   color: #fff;
   padding-left: 8px;
   padding-right: 8px;
}

.header__navbar.fixed-top{
   background-color: #fff !important;
}
.header__navbar.fixed-top .nav-item .nav-link {
   color: #000 !important;
}

/* .navbar .navbar-nav .nav-item{
   height:42px;
} */

.header__navbar-list .nav-item a{
   font-size: 14px;
}
.nav-item .nav-link-icon {
   border:1px solid #FED152;
}
/* Navbar hover
.header__navbar-list li a::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 2px;
	background-color: green;
	transition: transform 300ms ease-in-out;
	transform-origin: left;
	transform: scaleX(0);
}

.header__navbar-list li a:hover::before {
	transform: scaleX(1);
} */

.header__navbar-list-item li a{
   border-radius: 40px;
}
.active{
   background-color: var(--foreign-color);
}

/* ----- Slider  */
.home-slider {

   width:100%;
   background-color:#fff;
}
.home-slider.owl-carousel{
   z-index: 1;
   position: relative;
}
.home-slider.owl-carousel .slider-item{
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   height: calc(100vh - 148px);
   position: relative;
}
.home-slider.owl-carousel .owl-nav {
   display:none;
}
.home-slider.owl-carousel .owl-dots {
   text-align: center;
   justify-content: center;
   display: flex;
}
.home-slider.owl-carousel .owl-dots .owl-dot{
   width: 12px;
   height: 12px;
   margin: 8px;
   border-radius: 50%;
   background: rgba(42, 44, 57, 0.5);
}
.home-slider.owl-carousel .owl-dots .owl-dot.active{
   background: var(--foreign-color);
   border:2px solid rgba(255, 255, 255,0.9);
}

/* .owl-carousel.home-slider .owl-nav{
   opacity: 0;
   visibility: hidden;
} */

.home-slider.owl-carousel .owl-dots{
   position: absolute;
   bottom:12px;
   width: 100%;
}
/*  */
#about,
#service,
#news,
#contact{
   width:100%;

   display: flex;
   justify-content:center;
   align-items: center;
   padding: 100px 0;
}
#about{
   background-color: green;
}
#service{
   background-color: yellow;
}
#news{
   background-color: aqua;
}
#contact{
   background-color: purple;
}

.title {
   transform: translateZ(0) scale(1);
}

