/* @import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */
:root{
   /* #01B3A7  */
   --primary-color: #262626;
   --foreign-color: #0F78BF;
   --active-color: #0F78BF;
   --footer-text-color: #d7d7d9;
   --animate-delay: 0.5s;
   --navbar-height: 70px;
}
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Barlow Condensed', sans-serif;
}
body{
   font-size: 20px;
   overflow: hidden;
}
html {
   scroll-behavior: smooth;
   overflow-x:hidden;
}
/* Thanh scroll web */
::-webkit-scrollbar {
   width: 12px;
   
}
::-webkit-scrollbar-thumb {
   background: linear-gradient(rgb(255, 255, 253),var(--primary-color));
   border-radius: 6px;
}

/* ----- Dùng chung ----- */
.lora-font{
   font-family: 'Lora';
}
.roboto-font{
   font-family: 'Roboto';
}
.primary-color{
   color: var(--primary-color);
}
.foreign-color{
   color: var(--foreign-color);
}

/* Zoom Image when Hover  */
.hov-img-zoom {
	display: block;
	overflow: hidden;
}
.hov-img-zoom img{
	width: 100%;
	-webkit-transition: all 0.6s;
	-o-transition: all 0.6s;
	-moz-transition: all 0.6s;
	transition: all 0.6s;
}
.hov-img-zoom:hover img {
	-webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -ms-transform: scale(1.1);
   -o-transform: scale(1.1);
	transform: scale(1.1);
}
/* - */
.pt-100{
   padding-top: 100px;
}
.pb-100{
   padding-bottom: 100px;
}
.pt-50{
   padding-top: 50px;
}
.pb-50{
   padding-bottom: 50px;
}


 /* Loading  */
#loading{
   position: fixed;
   width: 100%;
   height: 100vh;
   z-index: 99999;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #fff;
}

/* ----- HEADER ----- */

/* - Introduce */
.header__introduce {
   height: 70px;
}

.header__introduce-wrap img {
   /* zoom: 1.2; */
   /* margin-left: -18px; */
}
.header__introduce-wrap h2{
   line-height:  50px;
   color: #fff;
}
.header__introduce-call a:hover {
   color: #5FC3BC;
}

/* - Header navbar */

.header__navbar {
   border-top: 1px solid var(--foreign-color);
   width: 100%;
   /* max-width: 1200px; */
   height: var(--navbar-height);
   overflow:hidden;
   top: 70px;
   left:0;
   right: 0;
   z-index: 1000;
   background-color: transparent;
}


/* text effect navbar */
.header__navbar-link {
   position: relative;
   padding-bottom: 12px;
   font-weight: 400;
   color: #fff;
   line-height: var(--navbar-height);
   text-transform: uppercase;
}
.header__navbar-item:hover{
   cursor: pointer;
}
.header__navbar-item:hover .header__navbar-link{
   color: #fff;
}



.about__detail-btn::before,
.header__navbar-link::before {
   content: "";
   display: block;
   position: absolute;
   bottom: -4px;
   left: 0;
   height: 4px;
   width: 100%;
   background-color: #d7dee4;
   transform-origin: right top;
   transform: scale(0, 1);
   transition: color 0.5s, transform 0.3s ease-out;
}

.about__detail-btn::before,
.about__detail-btn:hover::before,
.about__detail-btn:focus::before,
.header__navbar-link:hover::before,
.header__navbar-link:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);

}
/*  */

.header__navbar-link-icon {
   border:1px solid var(--foreign-color);
}



.nav-active{
   background-color: #F4F6F7;
   color: var(--active-color) !important;
   border-bottom: 4px solid #D7DEE4;
}



/* Navbar mobile */
.header__introduce-btn{
   transition: transform 0.4s linear;

}
.header__introduce-btn:hover{
   cursor: pointer;
}
.header__introduce-btn i{
   font-size: 24px;
}
#nav-mobile {
   min-width:220px;
   width: 40%;
   height: 100vh;
   z-index: 1000;
   top: 70px;
   left: 0;
   display: none;
   padding-bottom: calc(var(--navbar-height) + 60px);
}
.nav-mobile-item i {
   font-size: 16px;
}
.nav-mobile-link{
   color: #444;
}
.nav-mobile-link:hover{
 color: #fff;
 background-color: var(--active-color);
}
.nav-mobile--active{
   background-color: var(--active-color);
   color: #fff;
}
.nav-mobile-footer img{
   border: 1px solid var(--active-color);
   
}
.nav-mobile-footer a,
.nav-mobile-footer a:hover{
   color: var(--active-color);
}

@keyframes navMobileOpen {
   from{
      transform: translateX(-400px);
   }
   to{
      transform: translateX(0);
   }
}

@keyframes navMobileClose {
   from{
      transform: translateX(0);
   }
   to{
      transform: translateX(-400px);
   }
}

.transform-180{
   transform: rotate(180deg);
}




/* --- */

/* ----- Carousel Slider ----- */

.carousel-indicators{
   height: 40px;
}
.carousel-indicators button {
   background-color: #ccc !important;
   width: 80px !important;
   border: 1px solid #222;
}
.carousel-indicators button img{
   border: 1px solid #ccc;
}
.carousel-indicators .active img{
   border: 1px solid var(--foreign-color);
}



.carousel-item img{
   height: 100vh;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
}
.carousel-item h5 {
   position:absolute;
   top: 50vh;
   left: 10vw;
   letter-spacing: 12px;
   font-size: 28px;
   text-shadow: 1px 1px 2px #000;
}
/* Section */

#contact{
   width:100%;
   display: flex;
   justify-content:center;
   align-items: center;
}
#service-app,
#about,
#project{
   background-image: url(../img/pattern1.webp);

}

#project{
   background-color:#fff;
}


/* ========== HOME PAGE ========== */

/* ----- Banner Section*/
#banner{
   min-height: 600px;
}
.banner-item img {
   box-shadow: 1px 3px 7px #999;
   cursor: pointer;
}
.banner-item-desc p{
   font-family: 'Roboto';

}
/*  */

/* ========== ABOUT PAGE ========== */
.about-page-banner {
   background-image: url(../img/about/intro-iotsoftvn.webp);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center ;
   width: 100%;
   height: 50vh;
}

.about-page-banner-tittle,
.service-page-banner-tittle,
.news-page-banner-tittle {
   position: absolute;
   top: 25vh;
   left: 50%;
   transform: translateX(-50%);
   color: #fff;
   letter-spacing: 2px;
   text-shadow: 2px 2px 4px #000;
}
/* - About head */

#about-head .sologan h3{
   background-color: var(--active-color);
   color: #fff;
   width: 80px;
   height: 80px;
   left: 50%;
   transform: translateX(-50%);
   border-radius: 50%;
   box-shadow: 1px 1px 2px  #000;
}

#about-head .sologan blockquote {
   background-color: var(--active-color);
   color: #fff;
   font-size: 28px;
}


/* - About detail */
.about__detail img{
   min-height: 300px;
}
.about__detail-item {
   position: relative;
}

.about__detail-btn::before {
   left: 0;
   bottom:-3px;
   height: 3px;
   width: 100%;
}
.about__detail-btn:hover,
.about__detail-btn:focus{
   color: var(--active-color);
}
.about__detail-list {
   border-bottom: 3px solid #ccc;
}

.about__detail-btn {
   border: none;
   background-color: #f8f8f8;
}
.about__detail-btn--active {
   color: var(--active-color);
   
}
/* About info */
#about-info {
   min-height: 600px;
   background-color: #F8F8F8;
}

/* About intro */
.about-intro {
   height: 50vh;
   background-image: url(../img/about/intro-iotcity.webp);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center bottom;
   background-attachment: fixed;
}
/* About last */
#about-last {
   background-color : #F8F8F8;
}
/* About leader */
.leader-tittle h3::before{
   content: "";
   display: block;
   position: absolute;
   bottom: 0;
   left:45%;
   width: 10%;
   height:3px;
   justify-content: center;
   background-color: var(--active-color);

   
}
.leader-item {
   border-top: 4px solid #D7DEE4;
}
.leader-item:hover{
   transform: translateY(-30px);
   transition: all 0.6s ease-in;
}
.leader-info a,
.leader-info a:hover{
   color: var(--active-color);
}
.leader-info-img {
   border: 1px solid #D7DEE4;
   border-radius: 50%;
}
.leader-info-img img {
   width: 120px;
   height: 120px;
   border-radius: 50%;

}
/*  */

/* ========== SERVICE PAGE ========== */
/* Service banner */
.service-page-banner {
   background-image: url(../img/service/service-banner.webp);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center ;
   width: 100%;
   height: 50vh;
}

.service__info-item-second .info-item-img,
.service__info-item-four .info-item-img{
   order:2;
}
.service__info-item-second .info-item-para,
.service__info-item-four .info-item-para{
   order:1;
}

/* Service app */
#service-app h3 {
   color: var(--active-color);
}
.app-left{
   border-right: 1px solid var(--active-color);
}
.app-right{
   border-left: 1px solid var(--active-color);
}
.app-item img{
   
   max-width: 90px;
   max-height: 90px;
}

#service-slide .swiper-pagination-bullet {
   margin-right: 20px;
   width: 14px;
   height: 14px;
   background: #ccc;
   opacity: 1;
}
#service-slide .swiper-pagination-bullet.swiper-pagination-bullet-active{
   background-color: var(--primary-color);
}

/* ========== NEWS PAGE ========== */
.news-page-banner {
   background-image: url(../img/news/blog1.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center ;
   width: 100%;
   height: 50vh;
}

/*  */
/* ----- About section ----- */

/* - About title */
.about__title h2,
.service__title h2,
.project__title h2{
   font-size: 50px;
   font-family: 'Festive';
   color: var(--foreign-color);
}

.about__title h2::after,
.service__title h2::after,
.project__title h2::before,
.project__title h2::after{
   content: "";
   width: 100px;
   height: 1px;
   margin: 8px 10px;
   display: inline-block;
   background-color: var(--primary-color);
}


/* - About description */
.about__description-img{
   box-shadow: 1px 3px 7px #999;

}
.about__description li i {
   color: var(--primary-color);
}
.about__description p{
   text-align: justify;
}


/* ----- Service section ----- */

/* Service title */

.service__info-item p,
.service__info-item li {
   text-align: justify; 
}
.service__info-item-first{
   color:#fff;
   background-color: #DD356E;
}
.service__info-item-second{
   color:#fff;
   background-color: #F25B64;
}

.service__info-item-third{
   color:#fff;
   background-color: #F4A850;
}

.service__info-item-four{
   color:#fff;
   background-color: #AC61EA;
}


/* ----- Project section ----- */

#project .swiper-container{
   width: 100%;
}
#project .swiper-slide{
   border-radius: 12px;
   min-height: 630px;
   background-color: #fff;
   box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
}
#project .swiper-slide h4{
   color: #000;
   letter-spacing: 2px;
}
#project .swiper-slide h4:hover{
   color: var(--active-color);
}
#project .swiper-slide p{
   text-align: justify;
   font-family: 'Roboto';
}

#project .swiper-pagination .swiper-pagination-bullet {
   margin-right: 20px;
   width: 14px;
   height: 14px;
   background: #ccc;
   opacity: 1;
}
#project .swiper-pagination-bullet.swiper-pagination-bullet-active {
   background-color: var(--primary-color);
}

/* Project counter */
.project__counter i {
   font-size: 50px;
   color: var(--foreign-color);
}

/* ----- Customer section ----- */
/* Background animation */
.bubbles{
   position:absolute;
   width:100%;
   height: 100%;
   z-index:0;
   overflow:hidden;
   top:0;
   left:0;
}
.bubble{
   position: absolute;
   top:-100px;
   width:40px;
   height: 40px;
   background-color:var(--primary-color);
   border-radius:50%;
   opacity:0.5;
   animation: rise 10s infinite ease-in;
}
.bubble:nth-child(1){
   width:40px;
   height:40px;
   left:12%;
   animation-duration:6s;
}
.bubble:nth-child(2){
   width:20px;
   height:20px;
   left:18%;
   animation-duration:5s;
   animation-delay:1s;
}
.bubble:nth-child(3){
   width:30px;
   height:30px;
   left:35%;
   animation-duration:7s;
   animation-delay:2s;
}
.bubble:nth-child(4){
   width:40px;
   height:40px;
   left:45%;
   animation-duration:11s;
   animation-delay:0s;
}
.bubble:nth-child(5){
   width:50px;
   height:50px;
   left:55%;
   animation-duration:6s;
   animation-delay:1s;
}
.bubble:nth-child(6){
   width:45px;
   height:45px;
   left:65%;
   animation-duration:8s;
   animation-delay:3s;
}
.bubble:nth-child(7){
   width:40px;
   height:40px;
   left:70%;
   animation-duration:12s;
   animation-delay:2s;
}
.bubble:nth-child(8){
   width:35px;
   height:35px;
   left:80%;
   animation-duration:6s;
   animation-delay:2s;
}
.bubble:nth-child(9){
   width:15px;
   height:15px;
   left:70%;
   animation-duration:5s;
   animation-delay:0s;
}
.bubble:nth-child(10){
   width:60px;
   height:60px;
   left:25%;
   animation-duration:10s;
   animation-delay:4s;
}
.bubble:nth-child(11){
   width:50px;
   height:50px;
   left:28%;
   animation-duration:6s;
}
.bubble:nth-child(12){
   width:30px;
   height:30px;
   left:20%;
   animation-duration:5s;
   animation-delay:1s;
}
.bubble:nth-child(13){
   width:45px;
   height:45px;
   left:59%;
   animation-duration:7s;
   animation-delay:2s;
}
.bubble:nth-child(14){
   width:48px;
   height:48px;
   left:63%;
   animation-duration:12s;
   animation-delay:1s;
}
.bubble:nth-child(15){
   width:54px;
   height:54px;
   left:52%;
   animation-duration:6s;
   animation-delay:1s;
}
.bubble:nth-child(16){
   width:45px;
   height:45px;
   left:18%;
   animation-duration:8s;
   animation-delay:3s;
}
.bubble:nth-child(17){
   width:36px;
   height:36px;
   left:78%;
   animation-duration:11s;
   animation-delay:2s;
}
.bubble:nth-child(18){
   width:35px;
   height:35px;
   left:86%;
   animation-duration:5s;
   animation-delay:1s;
}
.bubble:nth-child(19){
   width:25px;
   height:25px;
   left:74%;
   animation-duration:3s;
   animation-delay:2s;
}
.bubble:nth-child(20){
   width:64px;
   height:64px;
   left:28%;
   animation-duration:10s;
   animation-delay:3s;
}
@keyframes rise{
   0%{
      top:-100px;
      transform:translateX(0);
   }
   30%{
      transform:translate(-100px);
   }
   60%{
      transform:translate(200px);
   }
   100%{
      top:1800px;
      transform:translateX(0px);
   }
}
/* List customer */

.customer-wrap{
   padding-bottom: 100%;
   display: block;

}
.customer-list {
   width: 100%;
   height: 100%;
   position: absolute;
   bottom: 0;
   top: 0;


}
.customer-list .customer-item {
   position: relative;
   width: 200px;
   height: 200px;
   border-radius: 50%;
   background: #F3F0F0;
   justify-items: center;
   opacity: 0.1;
}
.customer-list .customer-item img {
   max-width: 80%;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
   -webkit-transform: translate(-50%,-50%);
   max-height: 80%;
   width: auto;
   height: auto;
}

/* Customer slide */
.customer__title h2,
.swiper-slide h5 {
   color:var(--active-color);
}
#customer .customer__slide{
   margin-left: auto;
   margin-right: auto;
   position: relative;
   overflow: hidden;
   list-style: none;
   padding: 0;
   z-index: 1;
   width: 100%;
}

#customer .swiper-slide {
   background-color: transparent;
   
}

/* ----- Footer ----- */
#footer {
   background-color: var(--primary-color);
}
.footer-social *{
   color: #fff;
}
.footer-social-item{
   background-color: #545454;
   width: 40px;
   height: 40px;
}

.footer-info *,
.footer-subscribe *{
   color: var(--footer-text-color);
}
.footer-info li p{
   font-weight: 300;
   line-height: 20px;
}


.footer-info h4{
   font-weight: 300;
}
.footer-info li i {
   width: 20px;
   height: 20px;
}
.footer-hr {
   color: #535353;
}

.footer-subscribe-input {
   outline: none;
   border: 1px solid var(--footer-text-color);
   background-color: #333333;
   color: var(--footer-text-color);
}
input[type="submit"] {
   color: #fff;
   background-color: var(--foreign-color) !important;
}
.footer-copy-right a:hover{
   color: var(--foreign-color);
}