@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');
:root{
   --primary-color: #F4A850;
   --foreign-color: #313447;
   --header-color: #01B3A7;
   --animate-delay: 0.5s;
}
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
   
}
html {
   scroll-behavior: smooth;
   overflow-x:hidden;
}
/* Thanh scroll web */
::-webkit-scrollbar {
   width: 12px;
   
}
::-webkit-scrollbar-thumb {
   background: linear-gradient(rgb(255, 255, 253),var(--foreign-color));
   border-radius: 6px;
}

/* Dùng chung  */
.lora-font{
   font-family: 'Lora';
}

.h-color{
   color: var(--header-color);
}

 /* Loading  */
#loading{
   position: fixed;
   width: 100%;
   height: 100vh;
   z-index: 99999;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #fff;
}

/* ----- HEADER ----- */

/* - Introduce */
.header__introduce {
   height: 84px;
}
.header__introduce-wrap img {
   zoom: 1.2;
}
.header__introduce-time p,
.header__introduce-call a {
   color: #56567C;
   text-decoration: none;
}
.header__introduce-call a:hover {
   color: #5FC3BC;
}

/* - Header navbar */
.header__navbar {
   background-color: var(--foreign-color);
   border-top: 2px solid var(--primary-color);
   width: 100%;
   /* max-width: 1200px; */
   height: 50px;
   overflow:hidden;
  
}

.header__navbar-link{
   text-transform: uppercase;
   color: #fff;
}

.header__navbar.fixed-top{
   background-color: #fff !important;
}
.header__navbar.fixed-top .header__navbar-link {
   color: #000 !important;
   text-shadow: 0 0 1px var(--primary-color);
}
.header__navbar-item a{
   font-size: 14px;
}
.header__navbar-link-icon {
   border:1px solid #FED152;
}

.header__navbar-link{
   border-radius: 40px;
   line-height: 50px;
}

.header__navbar-item:hover .header__navbar-link{
   background-color: var(--primary-color);
   color: #fff;
}
.nav-active{
   background-color: var(--primary-color);
}

/* - Mobile menu */
.mobile-menu-btn{
   line-height: 50px;
   height:50px;
}
.mobile-menu-btn:hover {
   background-color: var(--primary-color);
}
.mobile-menu-btn i {
   color: #fff;
}

/* ----- Carousel Slider ----- */
.carousel-indicators button {
   background-color: #ccc !important;
}
.carousel-inner .carousel-img {
   height: calc(100vh - 134px);
   min-height: 40vh;
}

.carousel-item {
   background-color: var(--foreign-color);
}
.carousel-item h5 {
   position:absolute;
   top: 16px;
   letter-spacing: 12px;
   font-size: 28px;
   text-shadow: 1px 1px 2px #000;
}
/* Section */
#about,
#service,
#news,
#contact{
   width:100%;
   display: flex;
   justify-content:center;
   align-items: center;
   padding: 100px 0;
}
#about{
   background-color: #FFF;
}
#service{
   background-color: yellow;
   height: 100vh;
}
#news{
   background-color: aqua;
   height: 100vh;

}
#contact{
   background-color: purple;
   height: 100vh;

}

/* ----- About section ----- */

.about-title h2{
   font-family: 'Festive';
   font-size: 40px;
   color: var(--primary-color);
}
.about-title p{
   font-size: 50px;
}


.about-description li i {
   color: var(--primary-color);
}
.about-description p{
   text-align: justify;
}

