/* ----- Mobile ------ */
@media (max-width: 576px){
     .header__navbar-list-item {
          display:block !important;
     }
     
}

/* ----- Tablet ----- */
@media (min-width: 768px) and (max-width: 1023px){

}

/* ----- Mobile & Tablet ----- */
@media (max-width: 1023px){
     .mobile-menu-btn{
          display:block;
     }

}

/* ----- PC -----  */
@media (min-width: 1024px){

}

/* ----- Tablet & PC ----- */
@media (min-width: 768px){
     .mobile-menu-btn{
          display: none;
     }
}