/* ----- 0 to < md ------ */
@media (max-width: 767px){
   /* project */
   .project__title h2{
      font-size: 40px;
   }
   .project__title h2::before,
   .project__title h2::after{
      width: 20px;
   }

   /* carousel */
   .carousel-item h5 {
      font-size: 16px;
   letter-spacing: 2px;
   }
   /*  */
   
}


/* ----- 0 to < lg ----- */
@media (max-width: 991px) {
   .customer-wrap{
      overflow: hidden;
      border-radius: 50%;
   }
   .header__introduce{
      
      background-color: #fff;
   }
   .header__introduce-logo{
      justify-content: space-between;
   }
   .header__introduce-logo a{
      order: 2;
   }
   .header__introduce-logo h1{
      order: 1;
   }
   .header__introduce-logo img {
      filter: grayscale(0.9);
   }
   .header__introduce-wrap h1{
      color: var(--primary-color);
   }
   
   /* carousel */
   .carousel-item img{
      height: 50vh;
   }
   .carousel-item h5{
      top: 25vh;
   }
   /* about page */
   .about-page-banner{
      margin-top: var(--navbar-height);
   }
   /* service page */
   
}
@media (max-width: 1119px){
   
}
/* ----- md to up ----- */
@media (min-width:768px){
   
   .footer-info h4{
      margin-top: -8px;
   }
}

/* ----- xl to up ----- */
@media (min-width: 1200px){
   .customer-wrap{
      margin-top: -100px;
   }
}

/* ----- xxl to up ----- */
@media (min-width: 1400px){
     .customer__slide{
        margin-top: -150px;
     }
}